<%# this could be a modal in the proposal show page with a button that shows if @proposal.approval_flow is nil %>
<p> Approval Flow for <%= @proposal.title %></p>
<%= simple_form_for [@proposal, @approval_flow] do |f| %>
        <%= f.input :name, label: "Approval Flow Name" %>
        <%= f.input :description, label: 'Description of the approval flow' %>
        <%= f.submit "Submit ", class: "btn btn-primary" %>
<%  end %>
