<div class="container d-flex approval-flow-main-box" style="padding: 20px">
  <div class="container d-flex flex-column">
      <h1><%= @approval_flow.name %></h1>
      <h2>Proposal</h2>
      <p><%= link_to @approval_flow.proposal.title, proposal_path(@approval_flow.proposal)%></p>
      <h2>Description </h2>
      <p><%= @approval_flow.description%></p>
  </div>
  <div class="container d-flex flex-column">
    <div class="container d-flex">
        <i class="fas fa-history blue" style="font-size: 30px; padding-top: 9px; padding-right: 8px"></i>
        <h1 class="blue">Approvers</h1>
    </div>
    <div class="container d-flex flex-column">
        <% @ordered_steps.each_with_index do |step, i| %>
          <% case step.status %>
            <% when 'approved' %>
              <% color = "green" %>
            <% when 'rejected' %>
              <% color = "red" %>
            <% when 'created' %>
              <% color = "blue" %>
            <% when 'change request' %>
              <% color = "yellow" %>
            <% when 'in review' %>
              <% color = "yellow" %>
            <% when 'new review' %>
              <% color = "yellow" %>
          <% end %>
          <div class="container d-flex light-blue step-card justify-content-between" style="margin-bottom: 5px">
              <div><i class="fas fa-square blue <%=color%>"></i></div>
              <div style="margin-right: auto; padding-left: 16px; width: 30%;"><%= i + 1 %>. <%= step.approver.first_name %> <%= step.approver.last_name %>  </div>
              <div style="margin-right: auto"><%= step.status.capitalize %></div>
          </div>
        <%end%>
    </div>
    <%= link_to "Add Approver", new_proposal_approval_flow_step_path(@proposal, @approval_flow), data: { bs_toggle: "modal", bs_target:"#exampleModalStep" }, class: "btn btn-home-white ", id: "btn-home-value-prop", style: "margin:auto" %>
  </div>
</div>




<div class="modal fade" id="exampleModalStep" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add approver to <%= @approval_flow.proposal.title %>:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= simple_form_for [@approval_flow.proposal, @approval_flow, @step] do |f| %>
              <%= f.input :approver, label: "Approver email" %> <%# We need to give the possibilty to chose among created users? or just input the email? %>
              <%= f.submit "Add Approver", class: "btn btn-primary" %>
          <%  end %>
      </div>
    </div>
  </div>
</div>

<p><%= link_to "Add approvers", new_proposal_approval_flow_step_path(@proposal, @approval_flow) %></p>

