<h1>Show page for approval flow: <%= @approval_flow.name %></h1>
<h2>Proposal: <%= @approval_flow.proposal.title%></h2>
<h3>Approval Flow Description: <%= @approval_flow.description%></h2>

<h3>Approval Flow Steps:</h2>
<div>
    <% @steps.each_with_index do |step, i| %>
      <%= i + 1 %><%= step.approver.first_name %>
    <%end%>
</div>


<h4>Add Step to Approval Flow</h4>
 <p><%= link_to  "Add new step", new_proposal_approval_flow_step_path(@proposal, @approval_flow) %></p>
