<h1>Show page for approval flow: <%= @approval_flow.name %></h1>
<h2>Proposal: <%= link_to @approval_flow.proposal.title, proposal_path(@approval_flow.proposal)%></h2>
<h3>Approval Flow Description: <%= @approval_flow.description%></h2>

<h3>Approval Flow Steps:</h2>
<div>
    <ul>
      <% @ordered_steps.each_with_index do |step, i| %>
        <li>Step <%= i + 1 %> - Approver: <%= step.approver.first_name %> - Status: <%= step.status %></li>
      <%end%>
    </ul>
</div>


 <p><%= link_to  "Add new step to flow", new_proposal_approval_flow_step_path(@proposal, @approval_flow) %></p>
