<div>
<div class="descriptive-items">
      <p style="width: 50%">Title</p>
      <%# <p style="width: 25%">Description</p> %>
      <p style="width: 20%">Creator</p>
      <p style="width: 15%">Creation Date</p>
      <p style="width: 15%">Status</p>
</div>
<% @proposals.each do |proposal| %>
  <%#= link_to proposal_path(proposal) %>
    <% case proposal.status %>
          <% when 'approved' %>
            <% color = "green" %>
          <% when 'rejected' %>
            <% color = "red" %>
          <% when 'initiated' %>
            <% color = "blue" %>
      <% end %>
    <div class="card-proposal mb-4" >
      <div class="card-proposal-info-top">
        <% if proposal.title.length > 40 %>
             <h4 style="width: 50%; margin: 0"><%= link_to "#{proposal.title.first(40)}...", proposal_path(proposal)%></h4>
        <% else %>
            <h4 style="width: 50%; margin: 0"><%= link_to proposal.title, proposal_path(proposal)%></h4>
        <% end %>
         <%# <% if proposal.title.length > 20 %>
             <%# <p style="width: 25%"><%= "#{proposal.description.first(20)}..."</p> %>
        <%# <% else %>
            <%# <p style="width: 25%"><%= proposal.description</p> %>
        <%# <% end %>
        <p class="bd-highlight" style="width: 20%; margin: 0"><%= proposal.creator.first_name %> <%= proposal.creator.last_name %></p>
        <p class="bd-highlight" style="width: 15%; margin: 0"> <%= proposal.created_at.strftime("%e %b %Y") %></p>
        <p class="bd-highlight" style="width: 15%; margin: 0"> <i class="fas fa-square blue <%=color%>"></i> <%= proposal.status.capitalize %></p>

        <% link_to "Proposal Page", proposal_path(proposal) %>
      </div>
      <%# <div class="card-proposal-info-bottom">
      </div> %>
    </div>
    <% @counter_proposals += 1  %>
<% end %>
<% if @counter_proposals == 0 %>
  <p>You haven't created any proposal yet.</p>
<%end  %>
</div>
