<div class="navbar navbar-expand-sm fixed-left navbar-light navbar-lewagon sticky">
  <div class="container-fluid">
    <div class="home-logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-decide-it-short.svg" %>
      <% end %>
    </div>


    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto" id="nav-user">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to proposals_path do %>
              <i class="fi fi-rs-list"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_proposal_path do %>
              <i class="fi fi-rs-plus"></i>
            <% end %>
          </li>
          <%# <li class="nav-item search-icon">
            <%= link_to "#" do %>
              <%# <i class="fas fa-search"></i> %>
            <%# <% end %>
          <%# </li> %>
          <li class="nav-item">
            <%= link_to dashboard_path do %>
              <i class="fi fi-rs-layout-fluid"></i>
            <% end %>
          </li>
          <li class="nav-item notifications">
            <%= link_to "#" do %>
              <i class="fi fi-rs-bell"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fi fi-rs-power"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= image_tag "profile-image.jpg", class: "avatar"%>
          </li>
        <% else %>
          <li class="log-out nav-item">
            <%= link_to new_user_session_path do %>
              <i class="fi fi-rs-sign-in"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
