<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-home sticky-top justify-content-between">

  <div class="container d-flex justify-content-between p-0">

    <div class="container home-nav-items d-flex justify-content-between p-0">
      <%# <a class="navbar-brand-home" href="#">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
      </a> %>
      <%= link_to "#" do %>
        <i class="fi fi-rs-interrogation p-2"> Why decide-it?</i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fi fi-rs-dollar p-2"> Pricing</i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fi fi-rs-paper-plane p-2"> Contact</i>
      <% end %>
    </div>

    <div class="container d-flex justify-content-end flex-grow-1 p-0">
    </div>

    <div class="home-nav-items container d-flex justify-content-end align-items-center p-0">

      <%= link_to new_user_session_path, class: "home-btn nav-link btn-squared-white p-2" do %>
        <i class="fi fi-rs-play"> Get Started</i>
      <% end %>

      <%= link_to new_user_session_path do %>
        <i class="fi fi-rs-sign-in p-2"> Sign in</i>
      <% end %>
    </div>
  </div>
</div>
