<table class="dashboard-table">
  <thead>
    <tr>
      <th>Title</th>
      <%# <th>Description</th> %>
      <th>Creator</th>
      <th>Activity</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @proposals.each do |proposal| %>
      <% case proposal.status %>
          <% when 'approved' %>
            <% color = "green" %>
          <% when 'rejected' %>
            <% color = "red" %>
          <% when 'initiated' %>
            <% color = "blue" %>
      <% end %>
      <tr>
        <td><%= link_to proposal.title, proposal_path(proposal), id: ""%></td>
        <%# <td> <p><%= proposal.description</p></td> %>
        <td><%= proposal.creator.first_name %> <%=proposal.creator.last_name%></td>
        <td><%= proposal.created_at.strftime("%e %b %Y") %></td>
        <td><i class="fas fa-square blue <%=color%>"></i> <%= proposal.status %></td>
      </tr>
    <% end %>
     <% @counter_proposals += 1  %>
  <% if @counter_proposals == 0 %>
  <p class="display-message">You haven't created any proposal yet</p>
  <%end  %>
  </tbody>
</table>
