<table class="dashboard-table">
    <tbody>
    <thead>
      <tr>
        <th>Title</th>
        <%# <th>Description</th> %>
        <th>Creator</th>
        <th>Activity</th>
        <th>Task</th>
      </tr>
    </thead>
    <% @user.steps.each do |step| %>
          <% case step.status %>
          <% when 'approved' %>
            <% color = "green" %>
          <% when 'rejected' %>
            <% color = "red" %>
          <% when 'initiated' %>
            <% color = "blue" %>
          <% when "in review" %>
            <% color = "yellow" %>
          <% when "new review" %>
            <% color = "yellow" %>
            <% when 'change request' %>
              <% color = "yellow" %>
          <% end %>
        <% if step.status == "in review" || step.status == "new review" %>
            <tr>
              <td><%= link_to step.approval_flow.proposal.title, proposal_path(step.approval_flow.proposal)%></td>
              <%# <td><%= step.approval_flow.proposal.description</td> %>
              <td><%= step.approval_flow.proposal.creator.first_name %> <%=step.approval_flow.proposal.creator.last_name %></td>
              <td><%= step.approval_flow.proposal.created_at.strftime("%e %b %Y") %></td>
              <td><i class="fas fa-square blue <%=color%>"></i>  <%= step.status %></td>
            </tr>
            <% @counter_tasks += 1 %>
        <% end %>
      <% end %>
  <% @user.proposals.each do |proposal| %>
    <% proposal.steps.each do |step| %>
      <% if step.status == "change request"  %>
            <tr>
              <td><%= link_to step.approval_flow.proposal.title, proposal_path(step.approval_flow.proposal) %></td>
              <%# <td><p><%= step.approval_flow.proposal.description</p></td> %>
             <td><%= step.approval_flow.proposal.creator.first_name %> <%=step.approval_flow.proposal.creator.last_name%></p></td>
              <td><%= step.approval_flow.proposal.created_at.strftime("%e %b %Y") %></td>
               <td><%= step.status %></td>
            </tr>
        <% @counter_tasks += 1  %>
    <% end %>
  <% end %>
<% end %>
    </tbody>
  </table>
<% if @counter_tasks == 0 %>
  <p class= "display-message">You don't have any tasks</p>
<%end  %>
