
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h2>Welcome to your Dashboard!</h2>

<h3>My proposals</h3>
<ul>
    <% @proposals.each do |proposal| %>
        <li>
            <p><%= proposal.title %></p>
            <p><%= proposal.description %></p>
            <p><%= link_to "Proposal Page", proposal_path(proposal)  %>
        </li>
    <% end  %>
</ul>

<h3>My Active Tasks</h3>
<% @user.steps.each do |step|  %>
  <% if step.status == "in review" %>
      <p>Approval request for: <%= link_to step.approval_flow.proposal.title, proposal_path(step.approval_flow.proposal) %></p>
  <% end  %>
<% end  %>
