<div class="dashboard-container">

  <div class="all-proposals-header mb-4">
    <h1><strong><%= @user.first_name %> <%= @user.last_name %></strong>, welcome to your Dashboard!</h1>
    <%= link_to "Create new proposal ", new_proposal_path, class: "btn btn-flat-white"  %>
  </div>

  <div class="my-proposals-container">
    <h2 id="dash-header">My proposals</h2>
    <div class="proposal-cards-container">
      <%= render "shared/card-proposal" %>
    </div>
  </div>

  <div class="approval-requests-container">
    <h2 id="dash-header">Approval requests</h2>
    <div class="proposal-cards-container">
      <%= render "shared/card-approval" %>
    </div>
  </div>

  <%# go over the user proposals if a step is in change request show the proposal %>
  <div class="change-requests-container">
    <h2 id="dash-header">Change requests</h2>
    <div class="proposal-cards-container">
      <%= render "shared/card-change" %>
    </div>
  </div>
</div>
