
<%= render "shared/navbar-home" %>
<%= render "shared/home-banner" %>




<div class="container d-flex" id="home-value-prop">
    <h2> In mid and large orgs, projects with a lot of potencial get stalled or don’t even start due to a lack of effective approval processes. </h2>
    <div class="container d-flex flex-column justify-content-center align-items-baseline">
      <p>Tool to help decision making and expedite organizational consensus by easily creating flexible approval flows for new projects. </p>
      <%= link_to "Get Started", new_user_session_path, class: "btn", id: "btn-home" %>
    </div>
</div>

<div class="container d-flex flex-column justify-content-center align-items-center" id="home-last-section">
  <h2>All proposals in a single place</h2>
  <h2>Try it for free</h2>
  <%= link_to "Get Started", new_user_session_path, class: "btn", id: "btn-home-white" %>
</div>



<%= render "shared/footer-home" %>
