<%= render "shared/navbar-home" %>
<%= render "shared/banner-home" %>

<div class="container d-flex justify-content-around home-value-prop">

  <div class="container sticky-approval d-flex flex-column" id="home-value-prop-info" style="padding: 30px 0px">

      <h2 class="p-3" id="home-value-header"> Effective approval processes for fast growth organizations. </h2>
      <div class="d-flex align-items-center justify-content-between  p-3">
        <%= image_tag "effective-approval.svg", class: "image-card-home pm-3 flex-grow-1"%>
        <%= link_to "Get Started", new_user_session_path, class: "btn-flat-white m-3" %>
      </div>

  </div>

  <div class="container d-flex flex-column justify-content-center align-items-baseline">
    <div class="container d-flex card-benefits-home">
        <%= image_tag "group-1.svg", class: "image-card-home m-3"%>
        <div class="container branding-quality d-flex flex-column justify-content-end">
          <h2>Listen and be heard</h2>
          <p class="image-card-home-text pt-2 mb-0">Create a project and send it directly to the people it needs approval from. </p>
        </div>
    </div>
    <div class="container card-benefits-home d-flex">
        <div class="container branding-quality d-flex flex-column justify-content-end">
          <h2 style="text-align: right">Increase efficiency</h2>
          <p class="image-card-home-text pt-2 mb-0" style="text-align: right">Customize any decision flow according to your project needs.</p>
        </div>
        <%= image_tag "increase-efficiency.svg", class: "image-card-home m-3 p-2"%>
    </div>
    <div class="container d-flex card-benefits-home">
        <%= image_tag "group-3.svg", class: "image-card-home m-3"%>
        <div class="container branding-quality d-flex flex-column justify-content-end">
          <h2>Better decisions</h2>
          <p class="image-card-home-text pt-2 mb-0">Increase the alignment, efficiency and productivity of your team.</p>
        </div>
    </div>
  </div>
</div>

<%= render "shared/testimonials" %>

<div class="free-trial-banner">
    <div class="container d-flex flex-column justify-content-center" id="home-last-section">
      <%= image_tag "logo-decide-it-long.svg", class: "logo-home-last-section p-3"%>
      <h2>See your ideas come to life</h2>
      <div class="d-flex justify-content-center pt-4">
        <%= link_to "Free trial", new_user_session_path, class: "btn-flat-blue" %>
      </div>
    </div>
</div>


<%= render "shared/footer-home" %>
