
<div data-controller='preview-file'>

  <%= simple_form_for [@proposal] do |f| %>
  <div class="form-inputs">
      <%= f.input :title, label: "Proposal Title" %>
      <%= f.input :description, label: "Proposal Description" %>
      <%# <%= f.input :status, :collection => %w[initiated in_review approved rejected], :prompt => "Select the status"%>
      <%= f.input :scope%>
      <%= f.input :budget%>
      <%= f.input :due_date, as: :string, input_html: {class: "datepicker"} , label: "Due Date"%>
      <div data-preview-file-target="preview" class= "image-upload"></div>
      <%= f.input :attached_docs, label: "Attached Files", as: :file, label_html: {data: {preview_file_target: "label"} }, input_html: { multiple: true, data: { action: "change->preview-file#show", preview_file_target: "input" } } %>
  </div>

    <div class="form-actions text-center">
      <%=f.submit "Submit ", class: "btn btn-primary"%>
    </div>
  <% end %>

</div>
