
<%= link_to "Create new proposal", new_proposal_path, class: "btn btn-flat-white"  %>

<h1>All Proposals</h1>

<% @proposals.each do |proposal| %>
  <h2><%= proposal.title%></h2>
  <p><%= proposal.description%></p>
  <p>Created by: <%= proposal.creator.email %></p>
  <p><%= link_to "Proposal Page", proposal_path(proposal) %></p>

<% end %>
