
<h1>Your proposal </h1>

<%= proposal.title %>
<%= proposal.description %>
<%=proposal.status  %>

<%= link_to  "Create Approval Flow", new_proposal_approval_flow_path %>
<%= link_to  "Create Approval F", new_proposal_approval_flow_path %>
