<div class="container-proposal">
  <div class="titles">
    <h1><%= @proposal.title %></h1>
    <p><%= @proposal.description %></p>
    <p><strong>Status:</strong> <%= @proposal.status  %></p>
    <p><strong>Budget:</strong><%=@proposal.budget %></p>
    <p><strong>Due_date:</strong><%=@proposal.due_date %></p>
  </div>


  <div class="approval-flow-proposal">
    <% if @proposal.approval_flow.nil? %>
      <%= link_to  "Create Approval Flow", new_proposal_approval_flow_path(@proposal) %>
    <% else %>
    <p>Approval Flow: <%= link_to @proposal.approval_flow.name, approval_flow_path(@proposal.approval_flow) %></p>
    <% end %>
  </div>
</div>

    <div class="edit-button">
      <%= link_to  "Edit Proposal", edit_proposal_path(@proposal), class: "btn-ghost"%>
    </div>
  <% if @action_step  %>
    <%= link_to "Approve Proposal", step_approve_path(@action_step), method: "patch", class: "btn-green-approve" %>
    <%= link_to "Reject Proposal", step_reject_path(@action_step), method: "patch", class: "btn-orange-reject"  %>
    <%= link_to "Request Change", step_request_change_path(@action_step), method: "patch", class: "btn-blue-change" %>
  <% end  %>

<h1><%= @proposal.title %></h1>
<p><%= @proposal.description %></p>


<p><%= @proposal.creator.first_name  %> <%= @proposal.creator.last_name  %> </p>

<p><strong>Status:</strong> <%= @proposal.status  %></p>
<p><strong>Budget:</strong><%=@proposal.budget %></p>
<p><strong>Due_date:</strong><%=@proposal.due_date %></p>


 <%= link_to  "Edit Proposal", edit_proposal_path(@proposal) %>


<% if @proposal.approval_flow.nil? %>
    <%= link_to  "Create Approval Flow", new_proposal_approval_flow_path(@proposal) %>
<% else %>
  <p>Approval Flow: <%= link_to @proposal.approval_flow.name, approval_flow_path(@proposal.approval_flow) %></p>
<% end %>


<% if @action_step  %>
  <%= link_to "Approve Proposal", step_approve_path(@action_step), method: "patch", data: { bs_toggle: "modal", bs_target:"#exampleModal" } %>
  <%= link_to "Reject Proposal", step_reject_path(@action_step), method: "patch", data: { bs_toggle: "modal", bs_target:"#exampleModal" } %>
  <%= link_to "Request Change", step_request_change_path(@action_step), method: "patch", data: { bs_toggle: "modal", bs_target:"#exampleModal" } %>
<% end  %>

<% if @proposal.creator == current_user && (@proposal.steps.count {|step| step.status == "change request"} >= 1) %>
  <%= link_to "Changes done", step_new_review_path(@proposal.steps.find {|step| step.status == "change request"}), method: "patch", data: { bs_toggle: "modal", bs_target:"#exampleModal" } %>
<% end  %>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add comment to action:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= simple_form_for [@proposal, @proposal.approval_flow, @proposal.approval_flow.steps.first, @comment] do |f| %>
                <%= f.input :content, label: "Your comment" %>
                <%= f.submit "Post", class: "btn btn-primary" %>
          <%end%>
      </div>
    </div>
  </div>
</div>





<h3>Progress:</h2>
<div>
    <ul>
      <% @ordered_steps.each_with_index do |step, i| %>
        <li>Step <%= i + 1 %> - Approver: <%= step.approver.first_name %> - Status: <%= step.status %>
            <% if step.logs %>
                <% step.logs.each do |log| %>
                  <p>Step changed from <%= log.original_status %> to <%= log.updated_status %> on <%= log.created_at  %></p>
                <% end  %>
            <% end %>
        </li>
      <%end%>
    </ul>
</div>


<h3>Comments:</h3>
<div>
    <ul>
      <% @ordered_steps.each do |step| %>
          <li><% if step.comments %>
                  <% step.comments.each do |comment| %>
                    <p>Posted by: <%= comment.user.first_name %> <%= comment.user.last_name %> on <%= comment.created_at  %></p>
                    <p><%= comment.content %></p>
                  <% end %>
              <% end %>
        </li>
      <%end%>
    </ul>
</div>
<h4>Add Comment</h4>
<% if @proposal.approval_flow  %>
    <%= simple_form_for [@proposal, @proposal.approval_flow, @proposal.approval_flow.steps.first, @comment] do |f| %>
            <%= f.input :content, label: "Your comment" %>
            <%= f.submit "Post", class: "btn btn-primary" %>
    <%  end %>
<% end  %>

